[Desktop Entry]
Type=Application
Terminal=false
Exec=@EXEC@
Icon=lmxg-mu50
Name=LMXG-MU50
Comment=Run mu50 in mame;
Comment[zh_CN]=在 mame 中运行 mu50;
Categories=Multimedia;